In [1]:
import pandas as pd

# I uploaded the datasets as tables into a mysql data base called myds and i will work on them

In [6]:
import mysql.connector

# Create a connection to the MySQL database
config = {
    'user': 'root',
    'password': 'A123a321df',
    'host': '127.0.0.1',
    'database': 'myds',
    'raise_on_warnings': True
}


### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [39]:

conn = mysql.connector.connect(**config)

cursor = conn.cursor()
stat = "SELECT COUNT( *) as 'number of crimes' FROM schools"

cursor.execute(stat)
rows = cursor.fetchall()

print(rows)
cursor.close()
conn.close()

[(391,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [15]:
conn = mysql.connector.connect(**config)

cursor = conn.cursor()
stat = "SELECT COMMUNITY_AREA_NAME FROM chic WHERE PER_CAPITA_INCOME <  11000"

cursor.execute(stat)
rows = cursor.fetchall()
for i in rows:
    print("Area name: ",i[0])
cursor.close()
conn.close()

Area name:  West Garfield Park
Area name:  South Lawndale
Area name:  Fuller Park
Area name:  Riverdale

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [17]:
conn = mysql.connector.connect(**config)

cursor = conn.cursor()
stat = "SELECT CASE_NUMBER FROM crimes WHERE DESCRIPTION  LIKE '%MINOR%';"

cursor.execute(stat)
rows = cursor.fetchall()
for i in rows:
    print("CASE NUMBER: ",i[0])
cursor.close()
conn.close()

CASE NUMBER:  HL266884
CASE NUMBER:  HK238408

### Problem 4

##### List all kidnapping crimes involving a child?

In [18]:



conn = mysql.connector.connect(**config)

cursor = conn.cursor()
stat = "SELECT CASE_NUMBER, PRIMARY_TYPE  FROM  crimes WHERE lcase(PRIMARY_TYPE) = 'kidnapping';"

cursor.execute(stat)
rows = cursor.fetchall()
for i in rows:
    print("CASE NUMBER: ",i[0])
cursor.close()
conn.close()

CASE NUMBER:  HN144152

### Problem 5

##### What kinds of crimes were recorded at schools?

In [20]:


conn = mysql.connector.connect(**config)

cursor = conn.cursor()
stat = "SELECT distinct PRIMARY_TYPE FROM crimes WHERE lcase(LOCATION_DESCRIPTION) LIKE '%school%'"

cursor.execute(stat)
rows = cursor.fetchall()
for i in rows:
    print("Type: ",i[0])
cursor.close()
conn.close()

Type:  CRIMINAL DAMAGE
Type:  NARCOTICS
Type:  CRIMINAL TRESPASS

### Problem 6

##### List the average safety score for each type of school.

In [21]:
conn = mysql.connector.connect(**config)

cursor = conn.cursor()
stat = "SELECT NAME_OF_SCHOOL,  AVG(SAFETY_SCORE)  as 'their avg or smth' FROM schools GROUP BY NAME_OF_SCHOOL;"

cursor.execute(stat)
rows = cursor.fetchall()
for i in rows:
    print("Name: ",i[0], "Their avg or smth: ", i[1])
cursor.close()
conn.close()

Name:  Abraham Lincoln Elementary School Their avg or smth:  99.0000
Name:  Adam Clayton Powell Paideia Community Academy Elementary School Their avg or smth:  54.0000
Name:  Adlai E Stevenson Elementary School Their avg or smth:  61.0000
Name:  Agustin Lara Elementary Academy Their avg or smth:  56.0000
Name:  Air Force Academy High School Their avg or smth:  49.0000
Name:  Albany Park Multicultural Academy Their avg or smth:  66.0000
Name:  Alcott High School for the Humanities Their avg or smth:  70.0000
Name:  Alessandro Volta Elementary School Their avg or smth:  43.0000
Name:  Alexander Graham Elementary School Their avg or smth:  49.0000
Name:  Alexander Hamilton Elementary School Their avg or smth:  73.0000
Name:  Alexander von Humboldt Elementary School Their avg or smth:  31.0000
Name:  Alex Haley Elementary Academy Their avg or smth:  28.0000
Name:  Alfred David Kohn Elementary School Their avg or smth:  19.0000
Name:  Alfred Nobel Elementary School Their avg or smth:  37.0000
Name:  Alice L Barnard Computer Math & Science Center Elementary School Their avg or smth:  46.0000
Name:  Ambrose Plamondon Elementary School Their avg or smth:  45.0000
Name:  Ames Middle School Their avg or smth:  38.0000
Name:  Amos Alonzo Stagg Elementary School Their avg or smth:  23.0000
Name:  Ana Roque de Duprey Elementary School Their avg or smth:  57.0000
Name:  Andrew Carnegie Elementary School Their avg or smth:  48.0000
Name:  Anna R. Langford Community Academy Their avg or smth:  31.0000
Name:  Annie Keller Elementary Gifted Magnet School Their avg or smth:  99.0000
Name:  Anthony Overton Elementary School Their avg or smth:  32.0000
Name:  Arna Wendell Bontemps Elementary School Their avg or smth:  33.0000
Name:  Arnold Mireles Elementary Academy Their avg or smth:  27.0000
Name:  Arthur A Libby Elementary School Their avg or smth:  36.0000
Name:  Arthur E Canty Elementary School Their avg or smth:  87.0000
Name:  Asa Philip Randolph Elementary School Their avg or smth:  15.0000
Name:  Ashburn Community Elementary School Their avg or smth:  48.0000
Name:  Augustus H Burley Elementary School Their avg or smth:  99.0000
Name:  Austin O Sexton Elementary School Their avg or smth:  23.0000
Name:  Avalon Park Elementary School Their avg or smth:  32.0000
Name:  Belmont-Cragin Elementary School Their avg or smth:  75.0000
Name:  Betsy Ross Elementary School Their avg or smth:  39.0000
Name:  Beulah Shoesmith Elementary School Their avg or smth:  45.0000
Name:  Bret Harte Elementary School Their avg or smth:  63.0000
Name:  Bronzeville Scholastic Academy High School Their avg or smth:  41.0000
Name:  Burnham Elementary Inclusive Academy Their avg or smth:  61.0000
Name:  Burnside Elementary Scholastic Academy Their avg or smth:  51.0000
Name:  Calmeca Academy of Fine Arts and Dual Language Their avg or smth:  58.0000
Name:  Carl von Linne Elementary School Their avg or smth:  68.0000
Name:  Carrie Jacobs Bond Elementary School Their avg or smth:  54.0000
Name:  Carroll-Rosenwald Specialty Elementary School Their avg or smth:  35.0000
Name:  Carter G Woodson South Elementary School Their avg or smth:  26.0000
Name:  Cesar E Chavez Multicultural Academic Center Elementary School Their avg or smth:  54.0000
Name:  Charles Allen Prosser Career Academy High School Their avg or smth:  59.0000
Name:  Charles Gates Dawes Elementary School Their avg or smth:  44.0000
Name:  Charles G Hammond Elementary School Their avg or smth:  40.0000
Name:  Charles H Wacker Elementary School Their avg or smth:  32.0000
Name:  Charles Kozminski Elementary Community Academy Their avg or smth:  36.0000
Name:  Charles N Holden Elementary School Their avg or smth:  53.0000
Name:  Charles P Caldwell Academy of Math & Science Elementary School Their avg or smth:  25.0000
Name:  Charles R Darwin Elementary School Their avg or smth:  58.0000
Name:  Charles R Henderson Elementary School Their avg or smth:  16.0000
Name:  Charles S Brownell Elementary School Their avg or smth:  20.0000
Name:  Charles Sumner  Math & Science Community Acad Elementary School Their avg or smth:  41.0000
Name:  Charles W Earle Elementary School Their avg or smth:  24.0000
Name:  Chicago Academy Elementary School Their avg or smth:  66.0000
Name:  Chicago High School for Agricultural Sciences Their avg or smth:  87.0000
Name:  Christian Ebinger Elementary School Their avg or smth:  78.0000
Name:  Christopher Columbus Elementary School Their avg or smth:  66.0000
Name:  Clara Barton Elementary School Their avg or smth:  25.0000
Name:  Claremont Academy Elementary School Their avg or smth:  36.0000
Name:  Collins Academy High School Their avg or smth:  60.0000
Name:  Columbia Explorers Elementary Academy Their avg or smth:  59.0000
Name:  Crown Community Academy of Fine Arts Center Elementary School Their avg or smth:  27.0000
Name:  Daniel Boone Elementary School Their avg or smth:  52.0000
Name:  Daniel R Cameron Elementary School Their avg or smth:  42.0000
Name:  Daniel Webster Elementary School Their avg or smth:  48.0000
Name:  Dewey Elementary Academy of Fine Arts Their avg or smth:  41.0000
Name:  Donald Morrill Math & Science Elementary School Their avg or smth:  28.0000
Name:  Douglas Taylor Elementary School Their avg or smth:  34.0000
Name:  Dumas Technology Academy Their avg or smth:  19.0000
Name:  Dunne Technology Academy Their avg or smth:  46.0000
Name:  Durkin Park Elementary School Their avg or smth:  61.0000
Name:  Edgar Allan Poe Elementary Classical School Their avg or smth:  99.0000
Name:  Edgebrook Elementary School Their avg or smth:  99.0000
Name:  Edison Park Elementary School Their avg or smth:  95.0000
Name:  Edmond Burke Elementary School Their avg or smth:  1.0000
Name:  Edward A Bouchet Math & Science Academy Elementary School Their avg or smth:  33.0000
Name:  Edward Beasley Elementary Magnet Academic Center Their avg or smth:  47.0000
Name:  Edward C Delano Elementary School Their avg or smth:  38.0000
Name:  Edward Coles Elementary Language Academy Their avg or smth:  22.0000
Name:  Edward Jenner Elementary Academy of the Arts Their avg or smth:  50.0000
Name:  Edward K Ellington Elementary School Their avg or smth:  30.0000
Name:  Edward N Hurley Elementary School Their avg or smth:  77.0000
Name:  Edward Tilden Career Community Academy High School Their avg or smth:  34.0000
Name:  Edward White Elementary Career Academy Their avg or smth:  27.0000
Name:  Elaine O Goodlow Elementary Magnet School Their avg or smth:  44.0000
Name:  Elihu Yale Elementary School Their avg or smth:  29.0000
Name:  Elizabeth H Sutherland Elementary School Their avg or smth:  86.0000
Name:  Elizabeth Peabody Elementary School Their avg or smth:  51.0000
Name:  Eliza Chappell Elementary School Their avg or smth:  70.0000
Name:  Ella Flagg Young Elementary School Their avg or smth:  31.0000
Name:  Ellen H Richards Career Academy High School Their avg or smth:  30.0000
Name:  Ellen Mitchell Elementary School Their avg or smth:  99.0000
Name:  Emiliano Zapata Elementary Academy Their avg or smth:  60.0000
Name:  Emmett Louis Till Math and Science Academy Their avg or smth:  31.0000
Name:  Eric Solorio Academy High School Their avg or smth:  67.0000
Name:  Ernst Prussing Elementary School Their avg or smth:  71.0000
Name:  Esmond Elementary School Their avg or smth:  36.0000
Name:  Eugene Field Elementary School Their avg or smth:  42.0000
Name:  Evergreen Academy Middle School Their avg or smth:  60.0000
Name:  Federico Garcia Lorca Elementary School Their avg or smth:  53.0000
Name:  Ferdinand Peck Elementary School Their avg or smth:  51.0000
Name:  Fernwood Elementary School Their avg or smth:  29.0000
Name:  Florence B Price Elementary School Their avg or smth:  20.0000
Name:  Florence Nightingale Elementary School Their avg or smth:  35.0000
Name:  Fort Dearborn Elementary School Their avg or smth:  34.0000
Name:  Foster Park Elementary School Their avg or smth:  11.0000
Name:  Francisco I Madero Middle School Their avg or smth:  49.0000
Name:  Francis M McKay Elementary School Their avg or smth:  23.0000
Name:  Francis Scott Key Elementary School Their avg or smth:  37.0000
Name:  Francis W Parker Elementary Community Academy Their avg or smth:  30.0000
Name:  Frank I Bennett Elementary School Their avg or smth:  46.0000
Name:  Franklin Elementary Fine Arts Center Their avg or smth:  87.0000
Name:  Frank W Gunsaulus Elementary Scholastic Academy Their avg or smth:  46.0000
Name:  Frank W Reilly Elementary School Their avg or smth:  48.0000
Name:  Frazier Prospective IB Magnet Elementary School Their avg or smth:  60.0000
Name:  Frederic Chopin Elementary School Their avg or smth:  86.0000
Name:  Frederick A Douglass Academy High School Their avg or smth:  44.0000
Name:  Frederick Funston Elementary School Their avg or smth:  16.0000
Name:  Friedrich Ludwig Jahn Elementary School Their avg or smth:  72.0000
Name:  Galileo Math & Science Scholastic Academy Elementary School Their avg or smth:  65.0000
Name:  Garrett A Morgan Elementary School Their avg or smth:  28.0000
Name:  George B McClellan Elementary School Their avg or smth:  49.0000
Name:  George B Swift Elementary Specialty School Their avg or smth:  61.0000
Name:  George F Cassell Elementary School Their avg or smth:  76.0000
Name:  George Manierre Elementary School Their avg or smth:  43.0000
Name:  George M Pullman Elementary School Their avg or smth:  59.0000
Name:  George Rogers Clark Elementary School Their avg or smth:  39.0000
Name:  George Washington Carver Primary School Their avg or smth:  25.0000
Name:  George Washington Elementary School Their avg or smth:  58.0000
Name:  George W Curtis Elementary School Their avg or smth:  23.0000
Name:  George Westinghouse High School Their avg or smth:  74.0000
Name:  George W Tilton Elementary School Their avg or smth:  6.0000
Name:  Gerald Delgado Kanoon Elementary Magnet School Their avg or smth:  44.0000
Name:  Graeme Stewart Elementary School Their avg or smth:  49.0000
Name:  Granville T Woods Math & Science Academy Elementary School Their avg or smth:  35.0000
Name:  Greater Lawndale High School For Social Justice Their avg or smth:  43.0000
Name:  Grover Cleveland Elementary School Their avg or smth:  64.0000
Name:  Guglielmo Marconi Elementary Community Academy Their avg or smth:  26.0000
Name:  Gwendolyn Brooks College Preparatory Academy High School Their avg or smth:  64.0000
Name:  Hannah G Solomon Elementary School Their avg or smth:  78.0000
Name:  Hanson Park Elementary School Their avg or smth:  35.0000
Name:  Harold Washington Elementary School Their avg or smth:  28.0000
Name:  Harriet Beecher Stowe Elementary School Their avg or smth:  28.0000
Name:  Harriet E Sayre Elementary Language Academy Their avg or smth:  68.0000
Name:  Hawthorne Elementary Scholastic Academy Their avg or smth:  92.0000
Name:  Helen M Hefferan Elementary School Their avg or smth:  29.0000
Name:  Helen Peirce International Studies Elementary School Their avg or smth:  58.0000
Name:  Helge A Haugan Elementary School Their avg or smth:  43.0000
Name:  Henry R Clissold Elementary School Their avg or smth:  45.0000
Name:  Hiram H Belding Elementary School Their avg or smth:  64.0000
Name:  Horace Greeley Elementary School Their avg or smth:  65.0000
Name:  Horace Mann Elementary School Their avg or smth:  28.0000
Name:  Hyman G Rickover Naval Academy High School Their avg or smth:  64.0000
Name:  Ignance Paderewski Elementary Learning Academy Their avg or smth:  31.0000
Name:  Infinity Math Science and Technology High School Their avg or smth:  58.0000
Name:  Inter-American Elementary Magnet School Their avg or smth:  67.0000
Name:  Ira F Aldridge Elementary School Their avg or smth:  39.0000
Name:  Irma C Ruiz Elementary School Their avg or smth:  57.0000
Name:  Irvin C Mollison Elementary School Their avg or smth:  44.0000
Name:  Isabelle C O'Keeffe Elementary School Their avg or smth:  17.0000
Name:  Jacqueline B Vaughn Occupational High School Their avg or smth:  57.0000
Name:  James B Farnsworth Elementary School Their avg or smth:  55.0000
Name:  James B McPherson Elementary School Their avg or smth:  71.0000
Name:  James E McDade Elementary Classical School Their avg or smth:  99.0000
Name:  James G Blaine Elementary School Their avg or smth:  99.0000
Name:  James Hedges Elementary School Their avg or smth:  22.0000
Name:  James Monroe Elementary School Their avg or smth:  45.0000
Name:  James Otis Elementary School Their avg or smth:  83.0000
Name:  James R Doolittle Jr Elementary School Their avg or smth:  30.0000
Name:  James Russell Lowell Elementary School Their avg or smth:  39.0000
Name:  James Shields Elementary School Their avg or smth:  38.0000
Name:  James Ward Elementary School Their avg or smth:  49.0000
Name:  James Weldon Johnson Elementary School Their avg or smth:  67.0000
Name:  Jane Addams Elementary School Their avg or smth:  56.0000
Name:  Jane A Neil Elementary School Their avg or smth:  42.0000
Name:  Jean D Lafayette Elementary School Their avg or smth:  44.0000
Name:  Jensen Elementary Scholastic Academy Their avg or smth:  35.0000
Name:  Jesse Sherwood Elementary School Their avg or smth:  38.0000
Name:  Johann W von Goethe Elementary School Their avg or smth:  75.0000
Name:  John A Walsh Elementary School Their avg or smth:  60.0000
Name:  John Barry Elementary School Their avg or smth:  35.0000
Name:  John B Drake Elementary School Their avg or smth:  59.0000
Name:  John B Murphy Elementary School Their avg or smth:  80.0000
Name:  John Calhoun North Elementary School Their avg or smth:  52.0000
Name:  John C Burroughs Elementary School Their avg or smth:  50.0000
Name:  John C Coonley Elementary School Their avg or smth:  87.0000
Name:  John C Dore Elementary School Their avg or smth:  74.0000
Name:  John Charles Haines Elementary School Their avg or smth:  32.0000
Name:  John D Shoop Math-Science Technical Academy Elementary School Their avg or smth:  32.0000
Name:  John Fiske Elementary School Their avg or smth:  13.0000
Name:  John Foster Dulles Elementary School Their avg or smth:  42.0000
Name:  John Hancock College Preparatory High School Their avg or smth:  51.0000
Name:  John Harvard Elementary School of Excellence Their avg or smth:  51.0000
Name:  John Hay Elementary Community Academy Their avg or smth:  44.0000
Name:  John H Hamline Elementary School Their avg or smth:  33.0000
Name:  John H Kinzie Elementary School Their avg or smth:  64.0000
Name:  John H Vanderpoel Elementary Magnet School Their avg or smth:  74.0000
Name:  John J Audubon Elementary School Their avg or smth:  95.0000
Name:  John L Marsh Elementary School Their avg or smth:  72.0000
Name:  John Milton Gregory Elementary School Their avg or smth:  44.0000
Name:  John M Smyth Elementary School Their avg or smth:  37.0000
Name:  Johnnie Colemon Elementary Academy Their avg or smth:  60.0000
Name:  John Palmer Elementary School Their avg or smth:  75.0000
Name:  John P Altgeld Elementary School Their avg or smth:  48.0000
Name:  John Spry Elementary Community School Their avg or smth:  66.0000
Name:  John T McCutcheon Elementary School Their avg or smth:  56.0000
Name:  John W Garvy Elementary School Their avg or smth:  60.0000
Name:  John Whistler Elementary School Their avg or smth:  45.0000
Name:  Jonathan Burr Elementary School Their avg or smth:  71.0000
Name:  Jonathan Y Scammon Elementary School Their avg or smth:  44.0000
Name:  Jordan Elementary Community School Their avg or smth:  61.0000
Name:  Jose De Diego Elementary Community Academy Their avg or smth:  57.0000
Name:  Joseph Brennemann Elementary School Their avg or smth:  50.0000
Name:  Joseph E Gary Elementary School Their avg or smth:  32.0000
Name:  Josephine C Locke Elementary School Their avg or smth:  57.0000
Name:  Joseph Jungman Elementary School Their avg or smth:  36.0000
Name:  Joseph Kellman Corporate Community Elementary School Their avg or smth:  58.0000
Name:  Joseph Lovett Elementary School Their avg or smth:  43.0000
Name:  Joseph Warren Elementary School Their avg or smth:  33.0000
Name:  Joshua D Kershaw Elementary School Their avg or smth:  62.0000
Name:  Josiah Pickard Elementary School Their avg or smth:  50.0000
Name:  Julia C Lathrop Elementary School Their avg or smth:  67.0000
Name:  Julia Ward Howe Elementary School of Excellence Their avg or smth:  67.0000
Name:  Kate S Kellogg Elementary School Their avg or smth:  76.0000
Name:  Lake View High School Their avg or smth:  64.0000
Name:  Langston Hughes Elementary School Their avg or smth:  28.0000
Name:  LaSalle Elementary Language Academy Their avg or smth:  99.0000
Name:  LaSalle II Magnet Elementary School Their avg or smth:  66.0000
Name:  Laughlin Falconer Elementary School Their avg or smth:  54.0000
Name:  Leif Ericson Elementary Scholastic Academy Their avg or smth:  33.0000
Name:  Lenart Elementary Regional Gifted Center Their avg or smth:  79.0000
Name:  Leslie Lewis Elementary School Their avg or smth:  21.0000
Name:  Lionel Hampton Fine & Performing Arts Elementary School Their avg or smth:  42.0000
Name:  Little Village Elementary School Their avg or smth:  45.0000
Name:  Logandale Middle School Their avg or smth:  56.0000
Name:  Louis A Agassiz Elementary School Their avg or smth:  53.0000
Name:  Louis Armstrong Math & Science Elementary School Their avg or smth:  42.0000
Name:  Ludwig Van Beethoven Elementary School Their avg or smth:  40.0000
Name:  Luke O'Toole Elementary School Their avg or smth:  5.0000
Name:  Luther Burbank Elementary School Their avg or smth:  37.0000
Name:  Lyman A Budlong Elementary School Their avg or smth:  59.0000
Name:  Lyman Trumbull Elementary School Their avg or smth:  56.0000
Name:  Mahalia Jackson Elementary School Their avg or smth:  38.0000
Name:  Mancel Talcott Elementary School Their avg or smth:  63.0000
Name:  Manuel Perez Elementary School Their avg or smth:  45.0000
Name:  Marcus Moziah Garvey Elementary School Their avg or smth:  50.0000
Name:  Mariano Azuela Elementary School Their avg or smth:  54.0000
Name:  Maria Saucedo Elementary Scholastic Academy Their avg or smth:  60.0000
Name:  Marine Military Math and Science Academy Their avg or smth:  41.0000
Name:  Mark Sheridan Elementary Math & Science Academy Their avg or smth:  74.0000
Name:  Mark Twain Elementary School Their avg or smth:  67.0000
Name:  Marquette Elementary School Their avg or smth:  15.0000
Name:  Martha Ruggles Elementary School Their avg or smth:  43.0000
Name:  Martin A Ryerson Elementary School Their avg or smth:  40.0000
Name:  Marvin Camras Elementary School Their avg or smth:  54.0000
Name:  Mary E Courtenay Elementary Language Arts Center Their avg or smth:  99.0000
Name:  Mary Gage Peterson Elementary School Their avg or smth:  62.0000
Name:  Mary Lyon Elementary School Their avg or smth:  55.0000
Name:  Mary Mapes Dodge Elementary Renaissance Academy Their avg or smth:  57.0000
Name:  Mary McLeod Bethune Elementary School Their avg or smth:  53.0000
Name:  Mason High School Their avg or smth:  50.0000
Name:  Matthew A Henson Elementary School Their avg or smth:  37.0000
Name:  Matthew Gallistel Elementary Language Academy Their avg or smth:  49.0000
Name:  Medgar Evers Elementary School Their avg or smth:  27.0000
Name:  Melville W Fuller Elementary School Their avg or smth:  22.0000
Name:  Michael Faraday Elementary School Their avg or smth:  35.0000
Name:  Michael M Byrne Elementary School Their avg or smth:  63.0000
Name:  Mildred I Lavizzo Elementary School Their avg or smth:  15.0000
Name:  Milton Brunson Math & Science Specialty Elementary School Their avg or smth:  30.0000
Name:  Minnie Mars Jamieson Elementary School Their avg or smth:  64.0000
Name:  Morton School of Excellence Their avg or smth:  53.0000
Name:  Moses Montefiore Special Elementary School Their avg or smth:  28.0000
Name:  Mount Vernon Elementary School Their avg or smth:  31.0000

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [23]:

conn = mysql.connector.connect(**config)

cursor = conn.cursor()
stat = "SELECT COMMUNITY_AREA_NAME FROM chic order by PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;"

cursor.execute(stat)
rows = cursor.fetchall()
for i in rows:
    print("Name: ",i[0])
cursor.close()
conn.close()

Name:  Riverdale
Name:  Fuller Park
Name:  Englewood
Name:  North Lawndale
Name:  East Garfield Park

### Problem 8

##### Which community area is most crime prone?

In [28]:
conn = mysql.connector.connect(**config)

cursor = conn.cursor()
stat = '''
SELECT community_area_number, COUNT(*) as 'crime_count'
FROM crimes
GROUP BY community_area_number
ORDER BY crime_count DESC
LIMIT 1;
'''

cursor.execute(stat)
rows = cursor.fetchall()
for i in rows:
    print("Area num: ",i[0])
cursor.close()
conn.close()

Area num:  25

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [30]:
conn = mysql.connector.connect(**config)

cursor = conn.cursor()
stat = '''
SELECT COMMUNITY_AREA_NAME FROM chic ORDER BY HARDSHIP_INDEX  DESC LIMIT 5
'''

cursor.execute(stat)
rows = cursor.fetchall()
for i in rows:
    print(i)
cursor.close()
conn.close()

('Riverdale',)
('Fuller Park',)
('South Lawndale',)
('Englewood',)
('Gage Park',)

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [35]:









conn = mysql.connector.connect(**config)

cursor = conn.cursor()
stat = '''
SELECT chic.COMMUNITY_AREA_NAME,COUNT(*) AS occ FROM crimes 
INNER JOIN chic ON crimes.COMMUNITY_AREA_NUMBER =chic.COMMUNITY_AREA_NUMBER  group by crimes.COMMUNITY_AREA_NUMBER, chic.COMMUNITY_AREA_NAME ORDER BY occ DESC;
'''

cursor.execute(stat)
rows = cursor.fetchall()
for i in rows:
    print("Name: ", i[0],  "Number : ", i[1])
cursor.close()
conn.close()

Name:  Austin Number :  26
Name:  Humboldt park Number :  14
Name:  Englewood Number :  13
Name:  Near West Side Number :  12
Name:  Near North Side Number :  12
Name:  West Town Number :  11
Name:  Chicago Lawn Number :  10
Name:  West Englewood Number :  9
Name:  Brighton Park Number :  9
Name:  Greater Grand Crossing Number :  9
Name:  Auburn Gresham Number :  9
Name:  Logan Square Number :  8
Name:  North Lawndale Number :  8
Name:  Lower West Side Number :  7
Name:  West Garfield Park Number :  7
Name:  New City Number :  7
Name:  Ashburn Number :  7
Name:  Lake View Number :  7
Name:  South Chicago Number :  6
Name:  Gage Park Number :  6
Name:  Woodlawn Number :  6
Name:  Roseland Number :  6
Name:  Chatham Number :  6
Name:  Loop Number :  6
Name:  West Pullman Number :  6
Name:  Irving Park Number :  6
Name:  Rogers Park Number :  6
Name:  South Shore Number :  5
Name:  Albany Park Number :  5
Name:  South Lawndale Number :  5
Name:  West Ridge Number :  5
Name:  Calumet Heights Number :  5
Name:  Belmont Cragin Number :  5
Name:  Grand Boulevard Number :  4
Name:  Portage Park Number :  4
Name:  Douglas Number :  4
Name:  Avondale Number :  4
Name:  O'Hare Number :  4
Name:  Uptown Number :  4
Name:  Beverly Number :  3
Name:  West Lawn Number :  3
Name:  East Garfield Park Number :  3
Name:  North Center Number :  3
Name:  Hermosa Number :  3
Name:  West Elsdon Number :  3
Name:  Norwood Park Number :  3
Name:  Dunning Number :  3
Name:  Lincoln Park Number :  3
Name:  Edgewater Number :  2
Name:  Clearing Number :  2
Name:  Washington Height Number :  2
Name:  Pullman Number :  2
Name:  Garfield Ridge Number :  2
Name:  East Side Number :  2
Name:  McKinley Park Number :  2
Name:  Jefferson Park Number :  2
Name:  Montclaire Number :  2
Name:  Hyde Park Number :  2
Name:  South Deering Number :  2
Name:  Avalon Park Number :  2
Name:  Lincoln Square Number :  2
Name:  Morgan Park Number :  1
Name:  Kenwood Number :  1
Name:  Burnside Number :  1
Name:  Hegewisch Number :  1
Name:  Bridgeport Number :  1
Name:  Forest Glen Number :  1
Name:  Riverdale Number :  1